<div class="multiple-select container">
  <header>
    <h1>Country Selection</h1>
  </header>
  <main>
    <div class="multiple-select__search">
      <div *ngIf="enteredCountries?.length">
        <app-chip-input [chipData]="enteredCountries" (remove)="onRemoveItem($event)"></app-chip-input>
      </div>
      <label for="input">
        <input type="text" placeholder="Search Country" id="input" class="multiple-select__search-input" #searchInput/>
      </label>
    </div>
    <div class="multiple-select__countries">
      <div *ngIf="countriesList?.length">
        <div *ngFor="let country of countriesList" class="multiple-select__countries-single" (click)="onSelect(country)">
          <span>{{country.name}}</span>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div *ngIf="alreadyExist" class="multiple-select__exists">Already Exist</div>
    <div *ngIf="noResult" class="multiple-select__exists">no Result</div>
  </footer>
</div>




<router-outlet></router-outlet>
